{% extends 'base.html.twig' %}

{% block title %}Professions
{% endblock %}

{% block body %}
    <h1 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Liste des parents travaillant comme :
        {{ profession }}</h1>

    {% include 'parents/_liste.html.twig' with {'parents': parents} %}

    <a class="btn btn-primary btn-sm" href="{{ path('app_parents_index') }}">Retour</a>


    {#<a href="{{ path('app_professions_edit', {'slug': profession.slug}) }}">edit</a>#}

    {{ include('professions/_delete_form.html.twig') }}
{% endblock %}
