{% extends 'base.html.twig' %}

{% block title %}Departements
{% endblock %}

{% block body %}
    <h1 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Liste des élèves du :
        {{ departement }}</h1>

    {% include 'eleves/liste.html.twig' with {'eleves': eleves} %}

    <a class="btn btn-primary btn-sm" href="{{ path('app_eleves_index') }}">Retour</a>

    {#<a href="{{ path('app_departements_edit', {'slug': departement.slug}) }}">edit</a>#}

    {{ include('departements/_delete_form.html.twig') }}
{% endblock %}
