{% extends 'base.html.twig' %}

{% block title %}Parents index
{% endblock %}

{% block body %}
    <h1 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Liste des parents</h1>

    {% include 'parents/_liste.html.twig' with {parents} %}

    <a href="{{ path('app_parents_new') }}">Create new</a>
{% endblock %}
