{% extends 'base.html.twig' %}

{% block title %}LieuNaissances
{% endblock %}

{% block body %}
    <h1 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Liste des élèves nés à :
        {{ lieu_naissance }}</h1>

    {% include 'eleves/liste.html.twig' with {'eleves': eleves} %}

    <a class="btn btn-primary btn-sm" href="{{ path('app_eleves_index') }}">Retour</a>

    <a href="{{ path('app_lieu_naissances_edit', {'slug': lieu_naissance.slug}) }}">edit</a>

    {{ include('lieu_naissances/_delete_form.html.twig') }}
{% endblock %}
