<div class="col-md-12 bg-danger bg-opacity-10 py-2">
    <div class="col-md-12 fst-italic text-center fw-semibold">{{form_row(form.motif)}}</div>
    <div class="col-md-12 fst-italic text-center fw-semibold">{{form_row(form.ecoleDestination)}}</div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Remove</button>
</div>
